* {
margin: 0;
padding: 0;
}

html,
body {
height: 100%;
width: 100%;
touch-action: none;
}

body {
overflow: hidden;
display: flex;
background: #111;
perspective: 1500px;
transform-style: preserve-3d;
scale: 1.2;
}

#drag-container, #spin-container {
position: relative;
display: flex;
margin: auto;
transform-style: preserve-3d;
transform: rotateX(-10deg) scale(1.2);
}

#drag-container img, #drag-container video {
transform-style: preserve-3d;
position: absolute;
left: 0;
top: 0;
width: 120%;
height: 120%;
line-height: 200px;
font-size: 50px;
text-align: center;
box-shadow: 0 0 8px #fff;
box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover, #drag-container video:hover {
box-shadow: 0 0 15px #fffd;
box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
font-family: Serif;
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%,-50%) rotateX(90deg);
color: #fff;
}

#ground {
width: 1100px;
height: 1100px;
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%,-50%) rotateX(90deg);
background: radial-gradient(circle, #9993, transparent);
}

#music-container {
position: absolute;
top: 0;
left: 0;
}

@keyframes spin {
from{
transform: rotateY(0deg);
} to{
transform: rotateY(360deg);
}
}

@keyframes spinRevert {
from{
transform: rotateY(360deg);
} to{
transform: rotateY(0deg);
}
}
